.curriculum-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 25px;
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 45px rgba(56,189,248,0.3);
}
