.projects-page {
  max-width: 1100px;
  margin: auto;
  padding: 30px 20px;
}

.projects-page h1 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 40px;
}

/* LIST */
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* CARD */
.project-card {
  display: flex;
  align-items: center;
  background: #1e293b;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  background: #38bdf8;
  color: #020617;
}

.project-card img {
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* MOBILE */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-card img {
    width: 100%;
    height: 200px;
  }
}
