* RIGHT SIDE */

.promo-right{
  display:flex;
  flex-direction:column;
}

.promo-image{
  width:100%;
  max-width:400px;
  margin-bottom:20px;
  border-radius:10px;
}

.promo-text h2{
  color:#38bdf8;
  margin-bottom:10px;
}

.promo-text p{
  margin-bottom:12px;
  line-height:1.6;
}

.tagline{
  font-size:0.9rem;
  color:#94a3b8;
}

.slogan{
  font-weight:bold;
}

.promo-text .btn{
  margin-top:10px;
}
